[Desktop Entry]
Type=Application
Name=Low Tide
Comment=A fast, minimal novel writing app
Exec=lowtide %F
Icon=lowtide
Terminal=false
Categories=Office;WordProcessor;
StartupWMClass=low-tide
MimeType=text/plain;text/markdown;
